{% extends 'reqs/base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block content %}
User: {{ user.get_username }}


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/jstree.min.js"></script>

<div class="row">
    <div class="column" >
        <div id="project-container">
            {% if project_list %}
                <ul>
                    {% for project in project_list %}
                        <li>{{ project.project_name }}
                        <ul>
                            {% for file in project.file_set.all %}
                                <li><a href="{% url 'reqs:file_detail' file.id %}">{{ file.file_name }}</a></li>
                                
                            {% endfor %}
                        </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
            <p>No projects available</p>
            {% endif %}  
            </div>
    </div>
    <div class="column" >
      <div id="project-detail">
      </div>
    </div>
  </div>


<script>
    function fetch_text (url) {
        return fetch(url).then((response) => (response.text()));
    }

    function load_home (hyperlink) {
        if(hyperlink!='#'){
            fetch_text(hyperlink).then((html) => {
                $('#project-detail').html(html);
            }).catch((error) => {
                console.warn(error);
            });
        }
    } 
    
    $(function() {
        var selectedNode = $('#project-container').jstree().bind
        ("select_node.jstree", 
            function (event, data) {
                load_home(data.node.a_attr.href);
            }
        )
    }); 
    


</script>





{% endblock %}