{% extends 'reqs/base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block content %}
User: {{ user.get_username }}


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/jstree.min.js"></script>

<div class="row">
    <div class="column-left" style="width:20%;height:auto;float:left;">
        <div id="project-container">
            {% if project_list %}
                <ul>
                    {% for project in project_list %}
                        <li>{{ project.project_name }}
                        <ul>
                            {% for file in project.file_set.all %}
                                <li id="{{ file.id }}" data-jstree="{{ file.formatted_markdown }}">{{ file.file_name }}</li>
                            {% endfor %}
                        </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
            <p>No projects available</p>
            {% endif %}  
            </div>
    </div>
    <div class="column-right" style="width:80%;height:auto;float:left;" >
        <div id="project-detail" >

      </div>
    </div>
  </div>


<script>
    
    
    function show_content(content){

        $('#project-detail').html(content);
    }

    function show_content_download(file_id,filename,content){
        
        
            
        var html_link='<a href="/reqs/'+file_id+'/">'+filename+'</a></br>'+content
        $('#project-detail').html(html_link);

        
            
       
        
    }


    $(function() {
        var selectedNode = $('#project-container').jstree().bind
        ("select_node.jstree", 
            function (event, data) {
                show_content_download(data.node.id,data.node.text,data.node.data.jstree);
                //show_content(data.node.data.jstree)
            }
        )
    }); 
    


</script>





{% endblock %}